@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ================ html element styling ================ */
html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;;
}

ul li{
    list-style: none;
}

a{
    /* 1.6rem = 16px */
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    /* 1em = 10px(62.5%)
       0.5em = 5px
       o.15em = 1.5px */
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3{
   
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}
 

/* ============= utility class ============== */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    /* 1em = 10px
        3.5rem = 35px */
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: rgb(251, 6, 6);
}

.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333333;
}
.text-gray{
    color: #555555;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn:hover{
    background-color: rgba(247, 236, 222, 0.562);
}

.btn-primary{
    background-color: white;
    color:red;
    border-radius: 100px;

}
.btn-secondary{
    background-color: #fff;
    color: red;
    /* 1.5em = 24px */
    border-radius: 1.5em;
    border: 2px solid red;
}
.icon{
    padding: 2rem;
}

.bg-dark{
    background-color: #263238;
}
  

/* ================= header styling ================== */

.header{
    height: 95vh;
    /* Jiske respect me centr ko lan hai usko position : realtive */
    /* this is for header content ko centre me lane ke liye */
    position: relative;
   
    /* linear greadient picture thoda dark krne kw kiye use kiya */
    /* structure----> linear gradient(rgba(red,green,blue,capcity)) */
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/header-image.jpg);
    /* agar window ki size kam jyada kre to img centre me hi rhena chahiye */
    background-position: center;
    /* image pure container ko cover krna chahiye */
    background-size: cover;
    background-repeat: no-repeat;

}


/* =========== NAV BAR =========== */

.navbar{
   
    padding: 1rem;
   
}



.navbar .logo{
    float: left;
   
}

 .navbar .nav-items{
    float: right;
    margin-top: 1rem;
}
 .navbar .nav-item{
    display: inline-block;
    padding: 1rem;
}

.navbar a:link,
.navbar a:visited{
    color:#f4f4f4
}

/* for  space between link word and border-bottom */
.navbar a{
    padding: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid #f4f4f4;
    
}

/* for float clear */
.navbar::after{
    content: '';
    display: block;
    clear: both;
}

/* ============= header content ============== */

.header-content{
    /* Jisko centre me lan hai usko position : absloute */
    /* Jiske respect me centr ko lan hai usko position : realtive */
    position: absolute;
    top: 50%;
    left: 50%;
    /* proper centre me lane keliye */
    transform: translate(-50%,-50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
     
}
.header-content p{
    text-transform: uppercase;
}


.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}

/* ============== show case styling ============== */

.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 12px 0px #aaa ;
   
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box{
    float: left;
    width:50%

}

.row2 .img-box,
.row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}

.row .text-box{
    padding: 3rem;
   
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after{
    content: '';
    display: block;
    clear:both;
}


/* ================= feature content styling ================== */

.features{
    padding: 10rem 0;
}

.box-wrapper{
   
    box-shadow: 5px 5px 10px 0px rgba(102, 102, 102, 0.521);
}
.box{
    width: 33.333%;
    float: left;
    
    padding: 2rem;
    text-align: center;

}
.box-1, .box-3{
    background-color: #263238;
    color: #f4f4f4;
}
.box-2{
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    color:#f4f4f4 ;
}

.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}


/* ============== footer styling ============= */

.footer{
    background-color: #263238;
    padding: 8rem;
    color: #ddd;
    text-align: center;
}
/* .footer-items{
    text-align: center;
    color: #ddd;
} */

.footer a{
    color: #ddd;
}

.footer a:hover{
    color: rgb(248, 56, 56);

}


/* ===================== about page styling =============== */

.about{
    padding: 5rem 0;
   
}
.about-heading{
   
    border-bottom: 5px solid #e63946;
   
    
}

/* OR
.about-heading::after{
    content: "";
    display:block;
    border: 3px solid #e63946;
    width: 100%;   
} */

/* ====================== about wrspper =============== */

.about-wrapper{
    
    text-align: center;
    margin-top: 2rem;
}
.about-wrapper .left{
    float: left;
    width:50%
     
}
.about-wrapper .right{
    float: right;
    width: 50%;    
}
.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.about-wrapper li::before{
    content: '\2713';
    color: red;
    font-weight: bold;
    padding-right: 1rem;

}

/* ==================== counts ============= */

.counts{
    /* border: 2px solid black; */

    margin-top: 3rem;
}
.count-item{
    float: left;
    width: 25%;
    text-align: center;
}
.count-item span{
    color: red;
    font-size: 3rem ;
    font-weight: 700;
}
.count-item p{
    color:#555555;
    font-size:1.8rem ;
    font-weight: 700;
}

.counts::after{
    content: '';
    display: block;
    clear: both;
}

/* ================ about last ================ */
.about-last{
    /* border: 2px solid black; */
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.421);
    margin-top: 3rem;
}

.about-last .about-last-left{
    width: 60%;
    float: left;
    font-weight: 700;
    padding: 0.8em;
   
}
.about-last .about-last-right{
    width: 40%;
    float: right;
    padding-right: 5rem;
    text-align: center;
   
}

.about-last::after{
    content: "";
    display: block;
    clear: both;
}
.btn-contact{
    text-align: center;
    display: inline-block;
    border: 3px solid white;
    color: #f4f4f4;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.3em 2.5em;
    letter-spacing: 0.em;
}


/* =================== contact page styling =============== */

.contact-form{
    padding: 5rem 0;
    font-size: 2rem;
    background: #f7f7f7;
}


.form-wrapper .company-address{
    height: 800px;

    background: #fff;
    float: left;
    width: 49%;
    padding: 1rem;
}
.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}
.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}
.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}


.form-wrapper .company-address img{
   max-width: 90%;
   min-height: 40rem;
   object-fit: cover;

}

/* ===================== form styling =================== */


.form-wrapper .form{
    height: 800px;
   
    background: #fff;
    float: right;
    width: 49%;
    padding: 1rem;
}

.form h1::after{
    content: '';
    display: block;
   
    width: 100%;
}

.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
   padding: 0.5rem;
   width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content: "*";
    color: red;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}



/* =============== media queries ================= */

@media (max-width: 500px){
    html{
        /* 100% == 16%
         50% == 8px */
        font-size: 50%;
    }

    .navbar .nav-items,
    .navbar .logo{
        float: none;
        display: block;
        text-align: center;
    }

    .header-content .main-heading{
        display: none;
    }

    .row{
        height: auto;
        width:100%
    }

    .row .img-box,
    .row .text-box{
        float:none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px 0px rgba(102, 102, 102, 0.521);
    }

    .features .box-2,
    .features .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
   
        box-shadow:none;
    }


    /* ============= about =========== */


    .count-item span{
        font-size: 2rem;
    }
    .count-item p{
        font-size: 1.2rem;
    }
    .about-last .about-last-left,
    .about-last .about-last-right{
        float: none;
        width: 100%;
        text-align: center;
    }

    /* ================= contact =========== */


    .form-wrapper .company-address,
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

}

@media(min-width:501px) and (max-width:768px){
    html{
        /* 100% == 16%
         50% == 8px */
        font-size: 50%;
    }
    p{
        font-size: 2rem;
    }

    .navbar .nav-items,
    .navbar .logo{
        float: none;
        display: block;
        text-align: center;
    }

    .header-content .main-heading{
        display:contents;
    }

    .row{
        height: auto;
        width:100%
    }

    .row .img-box,
    .row .text-box{
        float:none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px 0px rgba(102, 102, 102, 0.521);
    }

    .features .box-2,
    .features .box-3{
        margin-top: 7rem;
    }
    .box-wrapper{
   
        box-shadow:none;
    }


    /* ============= about =========== */


    .count-item span{
        font-size: 2rem;
    }
    .count-item p{
        font-size: 1.2rem;
    }
    .about-last .about-last-left,
    .about-last .about-last-right{
        float: none;
        width: 100%;
        text-align: center;
    }

    /* ================= contact =========== */


    .form-wrapper .company-address,
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
}

@media(min-width:769px) and (max-width:1200px){
    html{
        /* 56.25% == 9 px */
        font-size: 56.25%;
    }

    .row .text-box h2{
        font-size: 2.2rem;
        font-weight: 500;
    }

}

@media(orientation:landscape) and (max-height:500px){
    .header{
        height:90vmax;
    }
}